    <nav class="navbar custom_colorBG"> 

    <h2 class="title is-2 mt-4 mx-4" > MilBook : Login</h2>

    </nav>

    <section class = "mx-6 my-3">

        <form  id = "login-form">

            <div class="field py-2">

                <div class="control has-icons-left">

                <input class="input custom_colorBD" type="email" id="login-identifier" placeholder="Email" required>

                <span class="icon is-small is-left">

                    <i class="fas fa-envelope"></i>

                </span>

            </div>
            
            <div class="field py-2">

                <p class="control has-icons-left">

                <input class="input custom_colorBD" type="password" id="login-password" placeholder="Password" required>

                <span class="icon is-small is-left">

                    <i class="fas fa-lock"></i>

                </span>

                </p>

            </div>

            <div class="field">

                <p class="control">

                <button type="submit" class="button custom_colorBG">Login</button>

                <button class="button custom_colorBG is-light" id="toggle-form">No account? Sign up here!</button>


                </p>
                
            </div>

        </form>

    </section>

    <script src="./js/login.js"></script>