
<nav class="navbar custom_colorBG"> 


        <h2 class="title is-2 mt-4 mx-4" > MilBook : Signup</h2>

    </nav>

    <section class = "mx-6 my-3">

        <form id="signup-form">

            <div class="field py-2">

                <div class="control has-icons-left">

                <input class="input custom_colorBD" type="text" id="signup-username" placeholder="Username" required>

                <span class="icon is-small is-left">

                    <i class="fas fa-user"></i>

                </span>

            </div>

            <div class="field py-2">

                <div class="control has-icons-left has-icons-right">

                  <input class="input custom_colorBD" type="email" id="signup-email" placeholder="Email input" required>
                  
                  <span class="icon is-small is-left">

                    <i class="fas fa-envelope"></i>

                  </span>

              </div>
              
            
            <div class="field py-2">

                <p class="control has-icons-left">

                <input class="input custom_colorBD" type="password" id="signup-password" placeholder="Password" required>

                <span class="icon is-small is-left">

                    <i class="fas fa-lock"></i>

                </span>

                </p>

            </div>

            <div class="field  pt-1 pb-6">

                <p class="control has-icons-left">

                  <span class="select custom_colorBD">

                    <select id = "animal-choice">

                      <option selected>Cat</option>

                      <option>Dog</option>

                    </select>

                  </span>

                  <span class="icon is-small is-left">
                    
                    <i class="fa-solid fa-paw"></i>

                  </span>

                </p>

              </div>

            <div class="field">

                <p class="control">

                <button type="submit" class="button custom_colorBG">Signup</button>

                <button class="button custom_colorBG is-light" id="toggle-form">Login</button>

                </p>
                
            </div>

        </form>

    </section>

    <script src="./js/signUp.js"></script> 